<!-- <h3>Child Component</h3>


<p>Message from Parent: {{ childMessage }}</p>


<input type="text" [(ngModel)]="childResponse" placeholder="Type message to parent">


<button (click)="sendMessageToParent()">Send Message to Parent</button> -->


<h3>Child Component</h3>

<!-- Input in child -->
<input 
  type="text" 
  [value]="childMessage" 
  (input)="onInputChange($event)" 
  placeholder="Type in Child">


<!-- Show what parent sends -->
<p>Message in Child (from parent): {{ childMessage }}</p>
